/* квадратики */

.square {
    background: #ff4756;
}

.square1 {
    background: #f447ff;
}
.square2 {
    background: #4787ff;
}

.square3 {
    background: #47eaff;
}

.square4 {
    background: #FFF033;
}

.selected {
    border: 3px solid red;
}


/* изменяет цвет квадратика при наведении курсора мышки */

.colorrr {
    background: #f447ff;
}

.border {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px
}

.border:hover {
    border: 5px solid black;
}
.color-container {
    margin-top: 10px;
}

.task-container {
    /* background: #a21e1e; */
    margin: auto;
    width: 600px;
}

.checkbox {
    border-right: 1px solid gray;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    display: grid;
}

.item {
    border: 1px solid rgb(141, 138, 138);
    display: grid;
    grid-template-columns: 10% 80% 10%;
    width: 100%;
    height: 40px;
    margin-top: 1px;
    align-items: center;
}

.but-delete {
    left: 10px;
}

#input-text {
    width: 600px;
    height: 40px;
}